@import 'tailwindcss';

@theme {
    --breakpoint-3xl:'120rem';
}

html {
    overflow-x: hidden;
}

body {
    background-color: #161616;
    font-family: "Source Sans 3", sans-serif;
    overflow-x: hidden;
}